body {
  /* background-color: antiquewhite; */
}
* {
  font-family: 'Hind Siliguri', sans-serif;
}

.inner-login {
  height: 520px;
  width: 400px;
  /* background-color: rgba(255, 255, 255, 0.13); */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  /* backdrop-filter: blur(10px); */
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  background-color: white;
  text-align: center;
}

.headline-login {
}

#username,
#password {
  border: none;
  text-align: center;
  font-size: 3vh;
}

#password {
  margin-top: 2vh;
}

#username:focus,
#password:focus {
  outline: none;
}

.popup-content {
  padding: 10px;
}
.popup-container {
  position: absolute;
  width: 60vw;
  left: 50%;
  top: 5vh;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: rgba(15, 15, 15, 0.16) 1px 2px 42px 19px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30vw 30vw;
  word-wrap: break-word;
}

.close-popup-btn {
  position: absolute;
  right: 2vw;
  border: none;
  background-color: transparent;
  font-size: 7vh;
  cursor: pointer;
}

.all-market {
  /* display: grid; */
  /* grid-template-columns: 10vw 10vw 10vw 10vw; */
  /* grid-column-gap: 10vw; */
  /* grid-row-gap: 2vh; */
  margin-left: 3vw;
  margin-top: 5vh;
}

.single-market {
  margin-left: 8vw;

  padding-left: 1vw;
  transition: 0.4s;
}
.single-market:hover {
  border-radius: 10px;
  cursor: default;
  /* box-shadow: 2px 6px 2px -2px rgba(8, 7, 16, 0.6); */
  box-shadow: 0px 15px 10px -15px #111;
}
.plus {
  color: green;
}
.minus {
  color: red;
}
.navbar {
  /* display: inline; */
  background-color: #54565b;
  color: white;
}
.nav-headline {
  font-size: 5vh;
  margin-left: 2vh;
}
.user-name {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 4vh;
  float: right;
  /* margin-right: 1vw; */
  background-color: #54565b;
  color: white;
}

.sign-out {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 3vh;
  margin-right: 6vw;
  position: relative;
  color: white;
}
.show-more {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
