body {
  background-image: url('./background-images-city-28.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
* {
  font-family: 'Hind Siliguri', sans-serif;
}
.not-found {
  text-align: center;
  font-size: 4vh;
}
.headline-login,
.register-headline {
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom: 3vh;
}
.login,
.register {
  height: 450px;
  width: 400px;
}
.outside {
  height: 450px;
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 47%;
  left: 50%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(206, 203, 231, 0.418);
  padding: 50px 35px;
  opacity: 0.9;
  background-color: rgb(248, 237, 237);
}
.inner-login,
.inner-register {
  height: 450px;
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 47%;
  left: 50%;
  border-radius: 10px;
  border: 2px solid rgba(109, 160, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  text-align: center;
}

.sign-email,
.register-click {
  width: 24vw;
  background-color: #ffffff;
  color: #080710;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.error-login,
.error-register {
  margin-top: 1vh;
  font-size: 2.2vh;
  height: 2.5vh;
}
#username:focus,
#password:focus {
  outline: none;
}
.register-btn,
a {
  text-decoration: none;
  color: black;
}

.main {
  top: 50%;
  left: 50%;
  margin-top: 10vh;
}
.headline {
  justify-content: center;
  text-align: center;
  font-size: 10vh;
  font-family: 'Anton', sans-serif;
}
.all-markets {
  margin: 0 2vw;
  margin-top: 5vh;

  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(206, 203, 231, 0.418);
  background-color: rgba(255, 255, 255, 0.767);
}

.single-market {
  margin-left: 10vw;
  font-weight: bolder;
  padding-left: -3vw;
  transition: 0.4s;
  width: 25vw;
}
.single-market:hover {
  border-radius: 10px;
  cursor: default;
}
.plus {
  color: #008e63;
}
.minus {
  color: #f50e64;
}

.show-more {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.market-name {
  font-size: 3vh;
}
.search {
  text-align: center;
}
.filter {
  background-color: rgba(255, 255, 255, 0.767);
  border: none;
  color: white;
  border: none;
  font-size: 3vh;
  width: 20vw;
  color: black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 10px 0 0 10px;
  padding-left: 2vw;
}

.filter:focus {
  outline: none;
}

.filter-btn {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.767);
  border: none;
  color: white;
  border: none;
  font-size: 3vh;
  color: black;
  border-bottom: 1px solid black;
}

#all-data-btn {
  border-left: 1px solid black;
  border-radius: 0 10px 10px 0;
}

.no-match {
  text-align: center;
  font-size: 3vh;
}
@media only screen and (max-width: 768px) {
  body {
    height: 90%;
    background-attachment: fixed;
  }

  .outside,
  .inner-login,
  .inner-register {
    height: 60vh;
    width: 70vw;
  }
  .sign-email,
  .register-click {
    width: 60vw;
  }

  .single-market {
    margin-left: 35vw;
    width: 45vw;
  }

  .headline {
    margin-top: -8vh;
  }

  .search {
    margin-top: -5vh;
  }

  .filter {
    width: 45vw;
  }
}
