.navbar {
  background-color: transparent;
  margin-top: 1vh;
  margin-left: 1vw;
}
.user-name {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 3vh;
  margin-top: 1vh;
  background-color: transparent;
  display: block;
  color: white;
  width: 35vw;
}

.sign-out-div {
  text-align: left;
}
.sign-out {
  color: white;

  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 2.5vh;
  position: absolute;
}
