.popup-content,
.popup-headline {
  padding: 10px;
  margin-left: 2vw;
  color: white;
}

.popup-headline {
  font-size: 7vh;
}
.popup-container {
  position: absolute;
  width: 60vw;
  left: 50%;
  top: 5vh;
  bottom: 5vh;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.938);
  box-shadow: rgba(241, 238, 238, 0.281) 1px 2px 42px 19px;
  border-radius: 10px;
  word-wrap: break-word;
  color: white;
  height: 90vh;
}

.close-popup-btn {
  position: absolute;
  right: 2vw;
  border: none;
  background-color: transparent;
  font-size: 7vh;
  cursor: pointer;
  color: white;
}
.second-headline {
  font-size: 2.5vh;
}

.symbols {
  margin-right: 2vw;
  margin-left: 0.2vw;
}
